
h1{
	color : blue;
	align : center
}

.cadre
{
width:50%;
margin:auto;
background-color: rgba(84, 84, 84, 0.7);
padding-top:25px;
padding-bottom:25px;
padding-right:100px;
padding-left:50px;
}

body{
background-image:url(../images/font.jpg);
background-position:center center;
}